* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'whatever font';
	background-color: lavender;
    font-family: 'Montserrat', sans-serif;
    --blue: slateblue;
    --light: rgb(216, 216, 216);
    --black: #272b2e;
}



div {
    display: flex;
}

.bodyDiv {
    flex-wrap: wrap;
    
}


/* Header portion */

.headerDiv,
.titleDiv {
    background-image: linear-gradient(to right bottom, var(--blue), indigo);
}

.title {
    background-color: transparent;
}


.headerDiv {
    height: 18vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    overflow: clip;
}

.musicNoteDiv {
    flex-wrap: wrap;
    padding: 182px;
    background-color: transparent;
    font-size: 50px;
    width: 4vw;
    justify-content: center;
}



p {
    background-color: transparent;
    
}

.header {
    justify-content: center;
    background-image: lavender;
}


.titleDiv {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--light);
    width: 50vw;
    height: 8vh;
    background-color: lavender;
}

h1 {
    font-size: 55px;
}



/* Central portion */
.centerDiv {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.addContainer {
    justify-content: center;
    padding: 60px;
    
}

.add {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.addform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
}

.input {
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    margin-right: 60px;

}

.songDisplay {
    height: 50rem;
    width: 65%;
    justify-content: center;
    align-items: center;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    overflow: auto;
}

#listContainer {
    height: 90%;
    width: 90%;
    /* border-left: 2px solid grey;
    border-right: 2px solid grey; */
    display: flex;
    justify-content: space-evenly;
}

.thead {
    font-size: x-large;
}


table td {
    padding: 20px; 
    border: none;
    border: 1px solid var(--black);
   
    text-align: center;
    font-size: 20px;
    column-gap: 40px;
}

td button {
    display: inline-block;
    margin-right: 15px;
}

.btnTd {
    justify-content: space-between;
}


#table {
    justify-content: space-around;
    overflow: auto;
    display: flex;
    
}

thead {
   
}

#editForm {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

#addBtn:hover,
.input:hover,
button:hover {
    transform: scale(1.05); 
}

#addBtn:hover,
button:hover {
    transform: scale(1.05); 
    transition: transform .3s ease;
}

.input {
   width: auto;
   font-size: 16px;
   transition: transform 0.3s ease;
}

#addBtn, 
button {
    background-color: var(--black);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: whitesmoke;
    
}


#saveBtn {
    margin-right: 20px;
}




/* footer area */
.footerDiv {
    width: 100%;
    height: 5vh;
    position: sticky;
    bottom: 0em;
    background-image: linear-gradient(to right bottom, var(--blue), indigo);
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: clip;
}

.footer {
    width: 50vw;
}